<html>
  <body>
    <pre>
    Having a garden at home adds color and life to your yard and also rewards you with fresh fruits, veggies, and herbs. Fortunately, you don't need a lot to get started. If you have an idea of what you'd like to grow, you're already on the right track! We'll cover what you need to start a successful garden and give you the step-by-step guide to getting your plants in the ground.

    1
    Choose a location that gets direct sunlight.

    Download Article
    Pick a well-draining spot that gets at least 6 hours of direct sunlight.
    Pick a well-draining spot that gets at least 6 hours of direct sunlight. Try to avoid parts of your yard that have puddles after it rains—you don't want the roots of plants getting waterlogged. It also helps to choose a garden spot that's mostly level and open, so you don't have to work around trees or shrubs.[1]
    If this is your first garden, you might want to keep it on the smaller side. This way, you can gain practice and confidence before devoting a big section of your yard to a garden.
    If you don't have a yard, you can still start a garden! Set up raised beds or plant in containers on patios or balconies. There are lots of plant varieties designed to thrive in containers.
    2
    Decide what you’d like to grow.

    Download Article
    Plan on growing veggies
    Plan on growing veggies or herbs you like to eat. You want to be able to enjoy your harvest! Some of the easiest veggies to grow include tomatoes, potatoes, beans, cucumbers, leafy greens, lettuce, and squash. Radishes, spinach, and carrots are also easy plants that grow really quickly.[2]
    For easy herbs to grow, try planting rosemary, oregano, thyme, or chives.
    If you want to try your hand at growing fruit, start with strawberries or blueberries. These don't take up a lot of space and they grow quickly, so you don't have to wait years for your first harvest.
    3
    Get the basic tools and supplies you need.

    Download Article
    Buy a shovel, rake, and hose or watering can.
    Buy a shovel, rake, and hose or watering can. It's easy to feel overwhelmed when you're shopping for garden supplies—there are so many tools! When you're just starting out, get the basics. At a minimum, you'll need a shovel for digging, a rake for leveling the soil, and a hose or watering can for watering your plants. You can also buy these items individually or shop for a kit that has great tools for a beginner. Don't forget to pick up:[3]
    A small spade for planting or removing weeds
    String and stakes if you want to mark out rows in the garden
    A sprinkler if you're watering a large area
    Fertilizer or compost if you're planning to enrich the soil
    Fencing materials if you're worried you need to keep pests out of the garden
    4
    Test the soil to make sure it's right for your plants.

    Download Article
    Test the soil...
    Test the soil to see if it's between 6 and 7.5 pH.[4] If you've struggled to grow plants in the past, go ahead and test the soil. Take a sample and send it to a local agricultural extension office for testing or follow the home test kit instructions. The soil test results will tell you the soil's pH and nutrient makeup, so you know exactly what to add to improve the soil, so the soil is between the optimum range of 6 and 7.5 pH.[5]
    If you live in an area that's known as a great gardening region, you may want to skip this step.
    For instance, if your results show that the pH is lower than 7, you could add limestone, or if the soil is over the recommended 7.5 pH, you could add sulfur to amend the soil.
    5
    Choose seeds or starts depending on your growing season.

    Download Article
    Weigh the pros and cons of seeds or starts for the plants you're growing.
    Weigh the pros and cons of seeds or starts for the plants you're growing. If you live in a cool climate or you don't really have experience starting plants from seeds, starts are a good way to go since they reduce the initial growing time. For instance, plan on tomato starts if your area doesn't have very hot or long summers. On the other hand, some veggies grow really quickly straight from seed—think radishes and lettuce.[6]
    Starts are a bit more expensive than seeds, but you will save time and space if you choose to germinate from seeds. Seeds are more cost-effective, especially if you save seeds year after year.
    Some community centers or farmers' markets put on plant sales early in the spring. These are great places for picking up healthy starts. Plus, you can ask knowledgeable people questions about different varieties or growing conditions.
    6
    Buy starts or seeds for your growing zone.

    Download Article
    Determine your growing zone and read labels to find plants that will thrive.
    Determine your growing zone and read labels to find plants that will thrive. Growing zones show you the temperature ranges that a plant can tolerate. This way, you can buy plants that won't struggle to survive in your area. To find your garden zone, head to The National Gardening Zone's website and enter your zip code.[7] As you shop, read the labels to find out if the starts or seeds grow well in your zone.
    For instance, if you live in a cool climate, choose varieties that have a short growing season, so the plants have a chance to grow and ripen before it gets too cool.
    If you live in a warm climate, you have a longer growing window, so you'll have more choices when it comes to seeds.
    7
    Arrange the plants in your garden space.

    Download Article
    Maximize your space by choosing plants that grow well next to each other.
    Maximize your space by choosing plants that grow well next to each other. Before you start digging, decide where you'll place each plant, so they get enough sunlight. For instance, plant tall plants like corn next to plants that you'd like to shade from heat and sunlight like lettuce.[8]
    Find companion plants for each plant you want to grow. Some combinations of companion plants can extend your growing season. For example, plant spinach or herbs early in the season. Then, plant tomatoes in the same bed as the season warms up.
    Plant nasturtiums or marigolds throughout your garden to keep garden pests away.
    8
    Plant your garden after the last frost.

    Download Article
    Look up the last frost date for your area to use as a guide.
    Look up the last frost date for your area to use as a guide. Most plant labels will give you a broad range of planting dates like plant in April-May, but the last frost date tells you exactly when you can plant your seeds or starts. For instance, if you're planting cucumbers, the package might say to plant them 1 to 2 weeks after the last frost, or if you're planting eggplants, wait 2 to 3 weeks after the last frost.[9]
    Other plant labels might tell you what temperature the soil should be before you plant. For example, wait until the soil's 60 °F (16 °C) before you plant corn.
    You can head to almanac.com to enter your zip code and find your last frost date.
    9
    Prepare the garden soil and make it level.

    Download Article
    Rake the top 6 inches (15 cm) of soil and spread the soil so it's even.
    Rake the top 6 inches (15 cm) of soil and spread the soil so it's even. You don't have to work deep into the soil to get it ready for plants. Just dig down 6 inches (15 cm) and break up the soil. Pull out any rocks, sticks, or roots that could interfere with your plants. Then, drag the rake over the surface, so the soil is level.[10]
    If you want to amend the soil or add compost, now's the time to do it! Mix your choice of fertilizer or compost into the soil before you level the surface.
    10
    Sow seeds directly in the soil or plant your starts.

    Download Article
    Dig a hole for the starts or scatter the seeds onto the soil.
    Dig a hole for the starts or scatter the seeds onto the soil. If you're using seeds, scatter them and spread 1⁄4 to 1⁄2 in (6.4 to 12.7 mm) of soil over them. For starts, dig a hole that's the recommended depth listed on the plant tag. The tag will also tell you how much space to leave between the plants. Take the starts out of their containers and put them into the holes. Then, gently backfill the space around the plants with soil.[11]
    If you're planting a vegetable garden, design it so that it's convenient for you to walk into the garden and harvest vegetables as they ripen.
    11
    Add mulch or leaves to cut back on the weeds.

    Download Article
    Spread organic mulch, like grass clippings, around your plant starts.
    Spread organic mulch, like grass clippings, around your plant starts. Unfortunately, weeds will grow along with your plants and they'll steal nutrients from the soil. Put down a 1 to 2 in (2.5 to 5.1 cm) layer of mulch, grass clippings, or leaves in your vegetable garden to smother potential weeds. If you do see weeds pop through, pull them immediately. Just be careful not to pull up your new sprouting plants.[12]
    If you don't want to buy mulch and you've got compost around, spread a layer of compost instead. This can help protect the plant starts as they germinate.
    12
    Water your garden to keep the soil moist.

    Download Article
    Soak the soil whenever the top 2 inches (5.1 cm) feels dry.
    Soak the soil whenever the top 2 inches (5.1 cm) feels dry. A good soak encourages the seeds or plant starts to put on growth. Keep an eye on how much rain your garden gets and water it on days where no rain falls.[13] If you're not sure if your plants got enough rain, dig your fingers into the soil a few inches—if it's dry, it's time to water.[14]
    Use a watering can or a garden hose with a nozzle that you can adjust to a sprinkler setting. This way, the water won't wash away the seeds.
    Stop watering as soon as the soil is moist. If you water too much, the plant roots can get waterlogged.</body>
  </pre>
</html>